<div class="contents">
  <% @words.each do |word| %>
  <p class="words 1"><%= word.line %></p>
  <% end %>
</div>


<div class="detail detail-1">
  <img src="./images/no_image.png" alt="no-image" class="no_image">
    <h1>"Is this on?"</h1>
    <div class="explain">
  <h2><img src="./images/film.png" alt="" class="film">THE INCREDIBLES</h2>
  <h3><img src="./images/person.png" alt="" class="person">MR. INCREDIBLE</h3>
  </div>
</div>
